/* footer */

.footer_link hr{
    margin: 7rem 0 3rem 0;
}

.footer_link .link_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 3;
}

.footer_link .link_wrap li ul li:hover{
    color: red;
    transition: all ease 0.8s 0s;
}

.footer_link .link_wrap h3{
    font-size: 2rem;
    font-weight: 500;
}

.footer_link .sns_wrap{ 
    display: flex;
    justify-content: space-between;
}

.footer_link .sns_wrap i{ 
    color: #fff;
    font-size: 3rem;
    background-color: #555;
    padding: 1rem 1rem;
}

.footer_link .sns_wrap i:hover{ 
    color: #fff;
    font-size: 3rem;
    background-color: black;
    padding: 1rem 1rem;
    transition: all ease 0.8s 0s;
}

.footer_link .sns_wrap span{ 
    display: block;
    text-indent: -99999px;
}

.footer_bottom{
    background-color: #191f22;
    color: #fff;
}

.language{
    font-size: 3rem;
    font-weight: bold;
    padding: 5rem 0 2rem 0;
}

.footer_bottom select{
    padding: 1rem 1rem;
    background-color: #555;
    color: #fff;
}

.footer_bottom .main{
    margin-right: 1rem;
}

.footer_bottom .cw, .footer_bottom div{
    padding:  2rem 0 0 0;
}

.footer_bottom .cs{
    padding:  2rem 0 0 0;
}

.footer_bottom .guidelines{
    padding-bottom: 10rem;
    line-height: 1.5;
}